export(DIFlasso,
refitDIFlasso
)

exportClasses("DIFlasso")
exportClasses("DIFlasso.refit")


S3method(plot, DIFlasso)
S3method(plot, DIFlasso.refit)
S3method(print, DIFlasso)
S3method(print, DIFlasso.refit)

importFrom(miscTools,insertCol)
importFrom(grplasso,grplasso)
importFrom(grplasso,lambdamax)
importFrom(penalized, penalized)
importFrom(grplasso,LogReg)
importFrom(grplasso,grpl.control)

importFrom("graphics", "abline", "axis", "lines", "par", "plot")
  importFrom("stats", "as.formula", "coef", "logLik", "predict", "var")
  importFrom("utils", "head", "tail")